#cargandoAjax {
    position:absolute;
    left: 45%;
    top:45%;
    visibility:hidden;
    justify-content: center;
}

#padre{
    margin: 0px 200px 0px 200px;
    align-items: stretch;
}

#cargandoAjax img {
    width: 200px;
    height: 200px;
}

.piegrande{
    align-content: flex-end;
}

.input-group{
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
}

.campoFormulario {

}

#show-hide-passwd{
    cursor: pointer;
}

.botonera {

}

.error {
    border: 2px solid red;
    color:red;
}